<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="60">
    <title><%=title %></title>
    <meta name="description" content="<%=description%>">
    <meta name="author" content="<%=author%>">
    <meta property ="og:title" content="<%=title%>">
    <meta property ="og:url" content="<%=url%>">
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <div class="container">
      <aside class="sidebar">
        <ul>
          <li><a href="/home?techType=GlobalTech">GlobalTech</a></li>
          <li><a href="/home?techType=ChinaTech">ChinaTech</a></li>
        </ul>
      </aside>
      <main class="dashboard">
        <h1 id="title"><%=title%></h1>
        <small class="info">by <%=author%> updated: <%=updatedTime%></small>
        <div class="content">
            <p class="paragraph"><%= summary %></p>
        </div>
      </main>
    </div>
  </body>
</html>